@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Header at the top of the page, has a menu */
.header {
    background-color: #7e7e7e85;
    color: red;
    font-family: 'Lexend', sans-serif;
}

.logo {
    color: white;
    font-family: 'Lexend', sans-serif;
}

.menu {
    background-color: #7e7e7e85;
    color: white;
    font-family: 'Lexend', sans-serif;
    /* Max width of the menu */
    max-width: 60%;
    /* Center the menu */
    margin: auto;
    /* Make the menu a flexbox */
    display: flex;
    /* Make the menu items align to the center */
    align-items: center;
    /* Make the menu align to the top */
    justify-content: flex-start;
    /* Make the menu items have a space between them */
    justify-content: space-between;
}


html {
    background-color: rgba(126, 126, 126, 0.521);
    color: white;
    font-family: 'Lexend', sans-serif;
}