@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Header at the top of the page, has a menu */
.header {
    background-color: #7e7e7e85;
    margin: 1rem;
    text-align: center;
}

.menu {
    background-color: #7e7e7e85;
    color:rgba(218, 218, 218, 0.521);
    /* Align the text to the top */

}

.banner {
    height: 200px;
}

.content {
    color:rgba(61, 61, 61, 0.521);
    text-align: center;
    max-width: 600px;
}

.footer {
    text-align: right;
    background-color: dimgray;
    padding: 0.5rem 0.5rem;
}

html {
    background-color: rgba(126, 126, 126, 0.521);
    color: white;
    font-family: 'Lexend', sans-serif;
}